@charset "UTF-8";
body
{
	margin-bottom:50px;
	justify-content:center;
	display:flex;
	flex-direction:column;
	align-items:center;
	
}

h1
{
	text-align:center;
}

input
{
	width:90%;
	padding:6px;
	margin-bottom:15px;
	border:2px;
	font-size:16px;
}

.container
{
	margin-bottom:50px;
	width:300px;
	padding:50px;
	border-radius:10px;
	box-shadow:0 0 10px rgba(0,0,1,0.5);
	background-color:#AEFD6C;
	text-align:center;
}

button
{
	width:90%;
	background-color:#007BFF;
	color:white;
	padding:6px;
	border-radius:5px;
}